<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
</head>
<body>
<h1>Welcome to index page!</h1>
<h2>学习@RequestMapping注解</h2>
<h3>1.@RequestNapping注解的作用:将前端发送请求的URL和后端的某个Controller#method()绑定在一起。(请求映射)</h3>
<h3>2.@RequestMapping注解可以出现的位置:(1)类上面。(2)方法上面。</h3>
<h3>3.@RequestMapping注解―般情况下都是类上和方法上结合使用。</h3>
<hr>
<a th:href="@{/user/detail}">查看用户详情</a>
<br>
<a th:href="@{/product/detail}">查看商品详情</a>
<br>
<a th:href="@{/student/detail}">查看学生详情</a>
<br>
<a th:href="@{/student/modify}">修改学生信息</a>
<hr>
<a th:href="@{/a}">a测试@RequestMapping注解的value和path属性</a>
<br>
<a th:href="@{/b}">b测试@RequestMapping注解的value和path属性</a>
<hr>

<!--准备一个表单，发送post请求。-->
<form th:action="@{/save}" method="post">
    <button>POST提交</button>
</form>

<!--准备一个表单，发送get请求。-->
<form th:action="@{/save}" method="get">
    <button>GET提交</button>
</form>

<!--虽然这里编写的method="put"，但仍然是以get方式提交。-->
<!--怎么才能发送put请求?需要通过ajax请求发送。-->
<form th:action="@{/save}" method="put">
    <button>PUT提交</button>
</form>

<hr>
<!--测试一下路径中的占位符，RESTful风格的请求路径。-->
<a th:href="@{/testpath/100/admin/20}">测试RESTful风格的URL</a>

</body>
</html>